body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
 
}
h1{
  color: aqua;
}
/* ---- particles.js container ---- */

.part {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

